@charset "utf-8";
/* CSS Document */

nav a {
   text-decoration: none;
}
nav li{
	padding-left: 20px;
}

footer {
	padding: 10px;
	color: white;
	background-color: #F8F9FA;
	text-align: center;
	padding-bottom: 0;
}
footer p{
	text-decoration: none;
   	color: black;
	opacity: 0.75;
}
